<div class="container mt-5 col-4">
  <form #createForm="ngForm" id="createForm" (ngSubmit)="addvehicle()">
      <h2 class="text-center text-primary">Create Vehicle</h2>
      <hr>
      <div class="form-group">
        <label for="vehicletypeid">Vehicle Type:</label>
        <select class="form-control" name="vehicletypeid" [(ngModel)]="data.Vehicletypeid" (ngModelChange)="getVehicleMakes($event);"> 
          <option [ngValue]="">Select Vehicle Type</option>
          <option *ngFor="let vehicletype of vehicletypes" [ngValue]="vehicletype.id">{{ vehicletype.type }}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="vehicletypeid">Vehicle Make:</label>
          <select class="form-control" name="make" [(ngModel)]="data.Make" (ngModelChange)="getVehicleModels($event);"> 
            <option [ngValue]="">Select Vehicle Make</option>
            <option *ngFor="let make of vehiclemakes" [ngValue]="make.id">{{ make.make }}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="vehicletypeid">Vehicle Model:</label>
        <select class="form-control" name="model" [(ngModel)]="data.Model" (ngModelChange)="getVehicleBodyTypes($event);"> 
          <option [ngValue]="">Select Vehicle Model</option>
          <option *ngFor="let model of vehiclemodels" [ngValue]="model.id">{{ model.model }}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" required name="engine" [(ngModel)]="data.Engine" placeholder="Engine">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" required name="doors" (keypress)="numberOnly($event)" [(ngModel)]="data.Doors" placeholder="Doors">
        </div>
      <div class="form-group">
        <input type="text" class="form-control" required name="wheels" (keypress)="numberOnly($event)" [(ngModel)]="data.Wheels" placeholder="Wheels">
      </div>
      <div class="form-group">
          <label for="vehicletypeid">Vehicle Body Type:</label>
        <select class="form-control" name="bodytype" [(ngModel)]="data.BodyType" >
          <option [ngValue]="">Select Vehicle Body Type</option>
          <option *ngFor="let bodytype of vehiclebodytypes" [ngValue]="bodytype.id">{{ bodytype.bodyType }}</option>
        </select>
      </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-default" type="button" [routerLink]="['/home']">Cancel</button>
      </div>
      
    </form>
  </div>